body {
  font-family: 'PT Sans', sans-serif;
  position: relative;
  /*Thank you, Google Fonts!*/
  margin-top: 50px;
  /*This beautiful gradient is taken from uigradients.com with changed direction*/
background: #83a4d4; /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #83a4d4 , #b6fbff); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #83a4d4 , #b6fbff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.main-div {
  position: relative;
}

.navbar {
  background-color: rgba(131,164,212,1) !important;
}

li a {
	color: black !important;
}

li a:hover {
  color: yellow !important;
}

li a:visited {
	background-color: #606c88 !important;
}

.jumbotron {
  background: inherit;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.25);
}

.proj {
  margin-top: 30px;
  background-color: transparent;
}

.text-about{
  display: block;
  margin-top: 50px;
}

.img-photo {
  max-height: 280px;
  width: auto;
}

.img-project {
  margin: 0 auto;
  max-height: 220px;
  border: 3px solid;
  border-color: #3F4C6B;
}

p {
  text-align: justify;
}

a {
  color: inherit;
}

.title {
  font-family: 'Lobster', cursive;
  /*Thank you, Google Fonts!*/
  margin-bottom: 30px;
}