body {
  font-family: 'PT Sans', sans-serif;
  position: relative;
  /*Thank you, Google Fonts!*/
  margin-top: 50px;
  /*This beautiful gradient is taken from uigradients.com with changed direction*/
background: #83a4d4; /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #83a4d4 , #b6fbff); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #83a4d4 , #b6fbff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a {color: inherit;}

a:hover{
  text-decoration: none;
}

p {text-align: justify;}

h2{font-size: 35px;}

.main-div {position: relative;}

.navbar {background-color: #83a4d4;}

.btn-color{transition: all 0.25s ease;}

.navbar ul.nav li a.btn-color:link {color: black;}

.navbar ul.nav li a.btn-color:hover {color: white;}

.jumbotron {
  background: inherit;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.25);
}

.projSection{
 font-family: 'Lobster', cursive;
 text-align: center;
 font-size: 20px;
}

.proj {
  margin-top: 30px;
  font-size: 10px;
  background-color: transparent;
}

.text-about{
  display: block;
  margin-top: 50px;
}

.img-photo {
  max-height: 280px;
  width: auto;
}

.img-project {
  margin: 0 auto;
  max-height: 220px;
  border: 3px solid;
  border-color: #3F4C6B;
}

.title {
  font-family: 'Lobster', cursive;
  margin-bottom: 30px;
}

#FCCFrontEnd{margin-top: 50px;}
